
[diff]
    pager = ""   # "diff-so-fancy"

# source ## fixing diff output on "chezmoi apply" and "chezmoi diff <fileName>"
# https://www.chezmoi.io/user-guide/tools/diff/


[merge]
    command = "meld"
    args = ["--diff", "{{ `{{ .Destination }}` }}", "{{ `{{ .Source }}` }}"]


# to use the argument as literal string you need to use the Backtick
# Don't use Curly braces even in the comment here.. it will be executed 
# this comment is also applicable for "toml" and "tmpl" both
# https://www.chezmoi.io/user-guide/tools/diff/
# https://www.chezmoi.io/user-guide/tools/merge/
# https://www.chezmoi.io/reference/commands/merge/
# https://github.com/twpayne/chezmoi/discussions/3432
# https://github.com/twpayne/chezmoi/discussions/3285
# https://github.com/twpayne/chezmoi/discussions/3432

